---
import Cta from "../components/Cta.astro";
import CvStep from "../components/CvStep.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import { CV } from "../content/_cv.js";
---

<Layout title="Daniel Mössner" description="">
  <Nav />
  <section>
    <article>
      <h1 style="margin-top: 0;">Über Mich</h1>
      <p>
        Located in {CV.location} and {CV.age} years old <br />
        <a target="_blank" href={CV.linkedin}>LinkedIn</a>
        <br />
        <a target="_blank" href={CV.github}>GitHub</a>
        <br />
      </p>
      <h2>Zertifikate</h2>
      <ul>
        <li>
          <a href="/certificates/pycon.pdf" target="_blank">PyCon 2024</a>
        </li>
        <li>
          <a href="/certificates/uni.pdf" target="_blank">
            Bachelor of Science - Informatik
          </a>
        </li>
      </ul>
      <div
        style="display: flex; justify-content: space-between; align-items: baseline;"
      >
        <h2>CV - Lebenslauf</h2>
        <button onclick="window.open('/cv', '_blank').print();">Print</button>
      </div>
      <h3>Professional Profile</h3>
      <p>
        <i>
          {CV.oneliner}
        </i>
      </p>
      <p>
        {CV.summary}
      </p>
      <h3>Core Skills</h3>
      <ul>
        {
          Object.entries(CV.skills).map(([key, value]) => (
            <li>
              <b>{key}:</b> {value}
            </li>
          ))
        }
      </ul>
      <h3>Career Summary</h3>
      {
        CV.steps.map((step) => (
          <CvStep date={step.date} company={step.company} subtitle={step.job}>
            <ul>
              {step.work.map((w) => (
                <li>{w}</li>
              ))}
            </ul>
          </CvStep>
        ))
      }
      <Cta />
    </article>
  </section>
  <Footer />
</Layout>
